<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserCoreMapper">

    <resultMap id="coreResultMap" type="userCore">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <select id="selectUserCore" resultMap="coreResultMap">
        select *
        from user_core;
    </select>

    <select id="selectIdToUsername" resultType="int">
        select id
        from user_core
        where username = #{username};
    </select>

</mapper>